<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <%- include('/head', {head: data.head}) %>
  </head>
  <body>
    <% if (data.header) { %>
    <header class="page-header">
      <% if (!utilities.isWrappedInParagraphTags(data.header)) { %>
      <p>
        <% } %> <%- data.header %> <% if (!utilities.isWrappedInParagraphTags(data.header)) {
        %>
      </p>

      <p><% } %></p>
    </header>

    <% } %>
    <section>
      <div class="timeline-filter-wrapper">
        <header class="timeline-filter">
          <ul>
            <li>
              <input type="checkbox" name="filter-shortcut" id="all" checked />
              <label for="all">All</label>
            </li>
            <% data.filters.forEach(function(filter){ %>
            <li>
              <input type="checkbox" name="filter" id="<%= filter %>" checked />
              <label for="<%= filter %>"><%- utilities.sentenceCase(filter) %> </label>
            </li>
            <% }); %>
          </ul>
        </header>
      </div>
      <article class="timeline">
        <% data.entries.forEach(function(entry){ %>
        <div
          class="timeline-entry"
          data-category="<%= entry.categoriesString %>"
          aria-hidden="false"
        >
          <%
            let divTitle = '';
            switch (entry.faicon) {
              case 'cat':
                divTitle = 'fluffy';
                break;
              default:
                divTitle = entry.faicon;
            }
          %>
          <div class="timeline-icon <%- entry.color || 'grey' %>" title="<%= divTitle %>">
            <% if (entry.faicon) { %>
            <i class="fas fa-<%= entry.faicon %>" aria-hidden="true"></i>
            <% } %>
          </div>
          <div class="timeline-description">
            <span class="timestamp"
              ><time datetime="<%- entry.datetime || entry.date %>"
                ><%- utilities.humanizeDate(entry.datetime, entry.date) %></time
              ></span
            >
            <h2>
              <a id="<%= entry.id %>" href="#<%= entry.id %>"><i class="fas fa-link"></i></a><%-
              entry.title %>
            </h2>
            <% if (entry.images && entry.images.length == 1) { %>
            <div class="captioned-image image-right">
              <% if (entry.images[0].link) { %><a href="<%= entry.images[0].link %>"
                ><% } %>
                <img src="<%= entry.images[0].src %>" alt="<%= entry.images[0].src %>" loading="lazy"/>
                <% if (entry.images[0].link) { %></a
              ><% } %> <% if (entry.images[0].caption) { %>
              <span class="caption"><%- entry.images[0].caption %></span>
              <% } %>
            </div>
            <% } %>
            <% if (!utilities.isWrappedInParagraphTags(entry.body)) { %>
            <p>
              <% } %> <%- entry.body %> <% if (!utilities.isWrappedInParagraphTags(entry.body)) { %>
            </p>
            <% } %>
            <% if (entry.images && entry.images.length >= 2) { %>
              <div class="captioned-images-bottom">
              <% entry.images.forEach(function(image){ %>
                <div class="captioned-image-bottom">
                  <% if (image.link) { %><a href="<%= image.link %>"
                    ><% } %>
                    <img src="<%= image.src %>" alt="<%= image.src %>" loading="lazy" />
                    <% if (image.link) { %></a
                  ><% } %> <% if (image.caption) { %>
                  <span class="caption"><%- image.caption %></span>
                  <% } %>
                </div>
              <% }); %>
              </div>
            <% } %>
            <% if (entry.links) { %>
            <ul>
              <% entry.links.forEach(function (link) { %>
              <li>
                <a href="<%= link.href %>" target="_blank"><%- link.linkText %></a><%-
                link.extraText %>
              </li>
              <% }) %>
            </ul>
            <% } %>
          </div>
        </div>
        <% }); %>
      </article>
    </section>
    <% if (data.footer) { %>
    <footer class="page-footer">
      <% if (!utilities.isWrappedInParagraphTags(data.footer)) { %>
      <p>
        <% } %> <%- data.footer %> <% if (!utilities.isWrappedInParagraphTags(data.footer)) {
        %>
      </p>
      <% } %>
      <p>
        Built with Molly White's
        <a href="https://github.com/molly/static-timeline-generator" target="_blank"
          >static timeline generator</a
        >.
      </p>
    </footer>
    <% } %>

    <script src="js/classlist-polyfill.js"></script>
    <script src="js/site-js.js"></script>
  </body>
</html>
